<h1>Welcome to your profile page</h1>
<h2><%=@user.name%></h2>
<a href="<%=@user.id%>/edit">Edit Profile</a>
<h4>New Secret</h4>
<%= form_for @secret, url: { controller: "secrets", action: "create" } do |f| %>
  	<%= f.text_area(:content, size: '50x10') %>
  	<%= submit_tag 'Create Secret' %>
<% end %>


<div class="secrets" border:1px solid black;>
  	<h4>Secrets</h4>
	<% @secrets.each do |s|%>
	<%= s.content %>
	<form action="/secrets/<%=s.id%>" method="post">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<input type="hidden" value="delete" name="_method">
		<input type="submit" value="Delete">
	</form><br>
	<%= s.likes.count%> likes
	<% end %>
</div>
<hr>
<div class="secrets_liked">
</div>